<h1>#dwolla</h1>
<p>Pay using Dwolla with a tweet! Example: @jack $5 for coffee #dwolla</p>
<ol>
	<li>Authenticate Twitter &amp Dwolla 
		<% if ( !isAuthenticated ) { %>
			<a href="/auth/twitter"><img src="/img/sign-in-with-twitter-d.png"></a>
		<% } else {%>
			<i class="icon-ok"></i>
		<% } %>
	</li>
	<li>Save your pin
		<% if( isAuthenticated && typeof user.dwolla_pin === 'undefined' ){ %>
			<form style="display:inline;" class="form-inline" action="/pin" method="POST">
				<input class="span1" type="password" name="pin" placeholder="Pin">
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		<% } else if(isAuthenticated && typeof user.dwolla_pin != 'undefined') { %>
			<i class="icon-ok"></i>
		<% } %>
	</li>
	<li>Tweet and transact for anything! <i class="icon-thumbs-up"></i></li>
</ol>

<a class="twitter-timeline" href="https://twitter.com/search?q=%23dwolla" data-widget-id="248130472700411904">Tweets about "#dwolla"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>